.home {
    height: 100vh;
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    padding: 40px;
}

.home_img {
    /* width: 350px; */
    width: 60vh;
    height: 60vh;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
}

.home_data {
    max-width: 650px;
    margin-inline: auto;
    padding-top: 20px;
}

.home_title {
    font-size: 40px;
    position: relative;
    line-height: 1.4;
    padding-left: 13%;
}
.home_title span {
    color: #ffd700;
}
.home_title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 22%;
    width: 40px;
    height: 5px;
    border-radius: 20px;
    background-color: #ffd700;
}

.home_description {
    line-height: 1.8;
    margin-block: 16px 32px;
    font-size: 18px;
}

/* Media query */

@media screen and (max-width: 1200px) {
    .grid {
        gap: 20px;
    }
    .home {
        display: flex;
    }
    .home_img {
        width: 45vh;
        height: 45vh;
    }
    .home_data {
        padding-right: 40px;
    }
    .home_title {
        font-size: 30px;
    }
    .home_description {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .home {
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 10px;
    }
    .home_img {
        width: 45vh;
        height: 45vh;
        margin-top: auto;
    }

    .home_page {
        max-width: 500px;
        text-align: center;
        margin-bottom: auto;
    }
    .home_title {
        font-size: 21px;
    }
    .home_title {
        display: block;
    }
    .home_title::before {
        all: unset;
    }

    .home_description {
        font-size: 12px;
        padding-left: 10px;
    }
}